<h1>Info Page</h1>
<div class="jumbo">
    <h1 class="display-4">{{stock.companyName}} {{stock.symbol}}</h1>
    <h3>Currency used:</h3> ${{stock.currency}}
    <h3>Current MarketCap:</h3>${{stock.marketCap}}
    <h3>Is the market open:</h3> ${{stock.isUSMarketOpen}}
</div>